swagger: "2.0"

info:
  title: Public Things API
  description: Provides read access to concepts/things
  version: 0.0.0
  license:
    name: MIT
  contact:
    name: Universal Publishing
    email: universal.publishing@ft.com
host: api.ft.com
schemes:
  - https
basePath: /
paths:
  /__health:
    get:
      summary: Healthchecks
      description: Runs application healthchecks and returns FT Healthcheck style json.
      produces:
        - application/json
      tags:
        - Health
      responses:
        200:
          description: >
            Should always return 200 along with the output of the healthchecks - regardless
            of whether the healthchecks failed or not.
            Please inspect the overall ok property to see whether or not the application is healthy.
          examples:
            application/json:
              schemaVersion: 1
              systemCode: public-things-api
              name: PublicThingsApi
              description: Checks for accessing neo4j
              checks:
                - id: neo4j-connectivity-check
                  name: Check connectivity to Neo4j
                  ok: true
                  severity: 1
                  businessImpact: Unable to respond to Public Things api requests
                  technicalSummary: Cannot connect to Neo4j. If this check fails, check that Neo4j instance is up and running.
                  panicGuide: https://dewey.in.ft.com/view/system/public-things-api
                  checkOutput: Connectivity to neo4j is ok
                  lastUpdated: 2018-04-30T10:22:50.371968658Z
              ok: true
        400:
          description: Bad request if the uuid path parameter is  formatted formed or missing.
        404:
          description: Not Found if there is no thing record for the uuid path parameter is found.
        500:
          description: Internal Server Error if there was an issue processing the records.
        503:
          description: Service Unavailable if it cannot connect to Neo4j.
  /__gtg:
    get:
      summary: Good To Go
      description: Lightly healthchecks the application, and returns a 200 if it's Good-To-Go.
      tags:
        - Health
      produces:
          - text/plain; charset=US-ASCII
      responses:
        200:
          description: The application is healthy enough to perform all its functions correctly - i.e. good to go.
          examples:
               text/plain; charset=US-ASCII: OK
        503:
          description: >
            One or more of the applications healthchecks have failed,
            so please do not use the app. See the /__health endpoint for more detailed information.
  /__build-info:
    get:
      summary: Build Information
      description: >
        Returns application build info, such as the git repository and revision,
        the golang version it was built with, and the app release version.
      produces:
        - application/json; charset=UTF-8
      tags:
        - Info
      responses:
        200:
          description: Outputs build information as described in the summary.
          examples:
            application/json; charset=UTF-8:
              version: 1.6.1
              repository: https://github.com/Financial-Times/public-things-api.git
              revision: 0cd10bc814ca820e3fe181be0fc05124971c7169
              builder: go version go1.10.1 linux/amd64
              dateTime: "20180420102900"
  /things/{uuid}:
    get:
      summary: Get a thing
      description: >
        Fetches the thing with the provided uuid
      produces:
        - application/json; charset=UTF-8
      tags:
        - Public API
      parameters:
        - name: uuid
          in: path
          description: The UUID of the things
          x-example: a11fa00f-777d-484a-9ebc-fbf81b774fc0
          required: true
          type: string
        - name: showRelationship
          in: query
          type: array
          items:
            type: string
            enum:
              - broader
              - broaderTransitive
              - narrower
              - related
          required: false
      responses:
        200:
          description: Get thing response
          schema:
            $ref: '#/definitions/concept'
          examples:
            application/json; charset=UTF-8:
              id: http://api.ft.com/things/a11fa00f-777d-484a-9ebc-fbf81b774fc0
              apiUrl: http://api.ft.com/things/a11fa00f-777d-484a-9ebc-fbf81b774fc0
              prefLabel: Solar Wars
              types:
                - http://www.ft.com/ontology/core/Thing
                - http://www.ft.com/ontology/concept/Concept
                - http://www.ft.com/ontology/Topic
              directType: http://www.ft.com/ontology/Topic
              aliases:
                - Solar Wars
              isDeprecated: true
  # /things:
  #   get:
  #     parameters:
  #       - name: uuid
  #         in: query
  #         required: true
  #         x-example: a11fa00f-777d-484a-9ebc-fbf81b774fc0
  #         type: array
  #         collectionFormat: multi
  #         items:
  #           type: string
  #       - name: showRelationship
  #         in: query
  #         type: array
  #         collectionFormat: multi
  #         items:
  #           type: string
  #           enum:
  #             - broader
  #             - broaderTransitive
  #             - narrower
  #             - related
  #         required: false
  #     produces:
  #       - application/json; charset=UTF-8
  #     tags:
  #       - Public API
  #     description: >
  #       Fetches the things with the provided uuids collection
  #     responses:
  #       200:
  #         description: Get things response
  #         schema:
  #           type: object
  #           properties:
  #             things:
  #               type: object
  #               additionalProperties:
  #                 $ref: '#/definitions/concept'
  #         examples:
  #           application/json; charset=UTF-8:
  #             id: http://api.ft.com/things/a11fa00f-777d-484a-9ebc-fbf81b774fc0
  #             apiUrl: http://api.ft.com/things/a11fa00f-777d-484a-9ebc-fbf81b774fc0
  #             prefLabel: Solar Wars
  #             types:
  #               - http://www.ft.com/ontology/core/Thing
  #               - http://www.ft.com/ontology/concept/Concept
  #               - http://www.ft.com/ontology/Topic
  #             directType: http://www.ft.com/ontology/Topic
  #             aliases:
  #               - Solar Wars
  #             broaderConcepts:
  #               - id: http://api.ft.com/things/49181791-a1a9-4966-ac30-010846ec76d8
  #                 apiUrl: http://api.ft.com/things/49181791-a1a9-4966-ac30-010846ec76d8
  #                 prefLabel: Trade disputes
  #                 types:
  #                   - http://www.ft.com/ontology/core/Thing
  #                   - http://www.ft.com/ontology/concept/Concept
  #                   - http://www.ft.com/ontology/Topic
  #                 directType: http://www.ft.com/ontology/Topic
  #                 predicate: http://www.w3.org/2004/02/skos/core#broader
  #               - id: http://api.ft.com/things/82645c31-4426-4ef5-99c9-9df6e0940c00
  #                 apiUrl: http://api.ft.com/things/82645c31-4426-4ef5-99c9-9df6e0940c00
  #                 prefLabel: World
  #                 types:
  #                   - http://www.ft.com/ontology/core/Thing
  #                   - http://www.ft.com/ontology/concept/Concept
  #                   - http://www.ft.com/ontology/Topic
  #                 directType: http://www.ft.com/ontology/Topic
  #                 predicate: http://www.w3.org/2004/02/skos/core#broaderTransitive
  #               - id: http://api.ft.com/things/29e67a92-a3b8-410c-9139-15abe9b47e12
  #                 apiUrl: http://api.ft.com/things/29e67a92-a3b8-410c-9139-15abe9b47e12
  #                 prefLabel: Global Economy
  #                 types:
  #                   - http://www.ft.com/ontology/core/Thing
  #                   - http://www.ft.com/ontology/concept/Concept
  #                   - http://www.ft.com/ontology/Topic
  #                 directType: http://www.ft.com/ontology/Topic
  #                 predicate: http://www.w3.org/2004/02/skos/core#broaderTransitive
  #               - id: http://api.ft.com/things/243243d9-de4b-4869-909b-fab711125624
  #                 apiUrl: http://api.ft.com/things/243243d9-de4b-4869-909b-fab711125624
  #                 prefLabel: Global trade
  #                 types:
  #                   - http://www.ft.com/ontology/core/Thing
  #                   - http://www.ft.com/ontology/concept/Concept
  #                   - http://www.ft.com/ontology/Topic
  #                 directType: http://www.ft.com/ontology/Topic
  #                 predicate: http://www.w3.org/2004/02/skos/core#broaderTransitive
  #             relatedConcepts:
  #               - id: http://api.ft.com/things/29e9fad1-14fc-480b-a89c-cd964750bd80
  #                 apiUrl: http://api.ft.com/things/29e9fad1-14fc-480b-a89c-cd964750bd80
  #                 prefLabel: Renewable energy
  #                 types:
  #                   - http://www.ft.com/ontology/core/Thing
  #                   - http://www.ft.com/ontology/concept/Concept
  #                   - http://www.ft.com/ontology/Topic
  #                 directType: http://www.ft.com/ontology/Topic
  #                 predicate: http://www.w3.org/2004/02/skos/core#related
  #               - id: http://api.ft.com/things/86fb0401-ec02-419d-a14e-74078cb8b662
  #                 apiUrl: http://api.ft.com/things/86fb0401-ec02-419d-a14e-74078cb8b662
  #                 prefLabel: Protectionism
  #                 types:
  #                   - http://www.ft.com/ontology/core/Thing
  #                   - http://www.ft.com/ontology/concept/Concept
  #                   - http://www.ft.com/ontology/Topic
  #                 directType: http://www.ft.com/ontology/Topic
  #                 predicate: http://www.w3.org/2004/02/skos/core#related
definitions:
  concept:
    type: object
    title: Concept
    properties:
      id:
        type: string
        description: The canonical ID of the concept
      apiUrl:
        type: string
        description: Api url of the concept
      prefLabel:
        type: string
        description: Label
        x-example: Solar wars
      types:
        type: array
        items:
          type: string
          description: Concept types
      directType:
        type: string
        description: Direct type
      aliases:
        type: array
        items:
          type: string
      descriptionXML:
        type: string
      imageUrl:
        type: string
      emailAddress:
        type: string
      facebookPage:
        type: string
      twitterHandle:
        type: string
      scopeNote:
        type: string
      shortLabel:
        type: string
      narrowerConcepts:
        type: array
        items:
          $ref: '#/definitions/thing'
      broaderConcepts:
        type: array
        items:
          $ref: '#/definitions/thing'
      relatedConcepts:
        type: array
        items:
          $ref: '#/definitions/thing'
    required:
      - id
      - apiUrl
      - types
  thing:
    type: object
    title: Title
    properties:
      id:
        type: string
        description: The canonical ID of the concept
      apiUrl:
        type: string
        description: Api url of the concept
      prefLabel:
        type: string
        description: Label
        x-example: Solar wars
      types:
        type: array
        items:
          type: string
          description: Concept types
      directType:
        type: string
        description: Direct type
      predicate:
        type: string
    required:
      - id
      - apiUrl
      - types
  
